<!--
    Filename: point-dialog.component.html
    Author  : Duncan Tilley

        The template for the point element dialog.
-->

<div role="dialog">
    <h2 mat-dialog-title>Point Properties</h2>
    <mat-dialog-content>
        <mat-list role="list">
            <mat-list-item>
                <mat-select [(value)]="pointType">
                    <mat-option [value]="-1">
                        Point Type
                    </mat-option>
                    <mat-option *ngFor="let t of pointTypes; let i = index" [value]="i">
                        {{t.typeName}}
                    </mat-option>
                </mat-select>
            </mat-list-item>
            <mat-list-item class="fill">
                <input matInput placeholder="Optional Info" [(ngModel)]="info">
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button (click)="onDoneClick()">Done</button>
    </mat-dialog-actions>
</div>
