<h1 mat-dialog-title>
    Course Management
</h1>
<div mat-dialog-content>

    <mat-list class="fill padded">


        <mat-expansion-panel class="fill">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Create Course:
                </mat-panel-title>
                <mat-panel-description>
                    Add a new course
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-form-field class="fill">
                        <input #courseName type="text" class="form-control fill" matInput placeholder="Course Name">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="fill">
                    <button class="fill" mat-raised-button type="button" class="fill" (click)="onCreateCourse(courseName.value);">
                        Create
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>



        <mat-expansion-panel class="fill">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Load Course:
                </mat-panel-title>
                <mat-panel-description>
                    Load existing courses to the map
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-form-field class="fill">
                        <mat-select class="fill" placeholder="Course" #courseSelector id="course-selector" style="width: 260px;height:32px;">
                            <mat-option class="fill" *ngFor="let c of data.courses;
                                            let i = index" [value]="c.index">
                                {{c.courseName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="fill">
                    <button class="fill" mat-raised-button type="button" class="btn btn-success" id="changeCourse" (click)="onLoadCourse(courseSelector.selectedIndex)">
                        Load
                    </button>
                    <button class="fill" mat-raised-button type="button" class="btn btn-success" id="deleteCourse" (click)="onDeleteCourse(courseSelector.selectedIndex)">
                        Delete
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>


    </mat-list>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>