<!--
    Filename: home.component.html
    Author  : Christiaan H Nel, Stephan Roos, Duncan Tilley

        The template for the controls and map for mapping.
-->

<!-- Search bar -->
<div id="search-div">
    <mat-form-field class="fill">
        <input matInput type="text" placeholder="Search" id="search-input">
    </mat-form-field>
</div>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button *ngIf="currentCourse != null && currentCourse.holes !== undefined"
                mat-icon-button (click)="snav.toggle()">
            <mat-icon>golf_course</mat-icon>
        </button>
        <div *ngIf="courses.length !== 0">
            <mat-select [(value)]="selected" #courseSelector id="course-selector">
                <mat-option [value]="-1" *ngIf="courses.length !== 0" (click)="onLoadCourse(-1)">
                    Select a course
                </mat-option>
                <mat-option *ngFor="let c of courses; let i = index" [value]="i" (click)="onLoadCourse(i)">
                    {{c.courseName}}
                </mat-option>
            </mat-select>

        </div>
        <span class="small-spacer"></span>
        <button mat-mini-fab color="accent" *ngIf="selected !== -1 && courses.length !== 0" (click)="onDeleteCourse(selected)">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <input class="course-name-input" matInput placeholder="New Course Name" ([ngModel])="courseName" #courseName>
        <span class="small-spacer"></span>
        <button mat-mini-fab color="accent" (click)="onCreateCourse(courseName.value)">
            <mat-icon>add</mat-icon>
        </button>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav opened="false" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-list>
                <mat-accordion>
                    <mat-card *ngIf="currentCourse !== undefined">
                        <mat-card-header>
                            <mat-card-title>
                                Course Holes
                            </mat-card-title>
                        </mat-card-header>

                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <mat-form-field class="fill">
                                    <input matInput placeholder="Hole Name" [(ngModel)]="newHoleName">
                                </mat-form-field>
                                <mat-icon class="addButton" (click)="onAddHole()">
                                    {{button_state}}
                                </mat-icon>
                            </mat-list-item>
                        </mat-list>
                        <div *ngIf="currentCourse.holes !== undefined">
                            <mat-radio-group (change)="onSelectHole($event)" class="hole-radio-group" [(ngModel)]="selectedHole">
                                <mat-radio-button class="hole-radio-button" [value]="undefined">
                                    Course
                                </mat-radio-button>
                                <mat-radio-button class="hole-radio-button" *ngFor="let hole of currentCourse.holes" [value]="hole">
                                    {{hole.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card>
                </mat-accordion>
            </mat-list>
        </mat-sidenav>

        <mat-sidenav-content class="map-container">
            <mat-card class="map-card">
                <agm-map [mapDraggable]="mapDraggable" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapType" class="mapper"
                    #AgmMap [latitude]="lat" [longitude]="lng" [streetViewControl]="false" (mapClick)="mapInteractionClick($event)">
                </agm-map>
                <!-- <demo-fab-speed-dial class="controls"></demo-fab-speed-dial> -->

                <div class="controls" *ngIf="selected !== -1 && courses.length !== 0">
                    <smd-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="true">
                        <smd-fab-trigger [spin]="spin">
                            <button mat-fab (click)="onSaveCourse()">
                                <mat-icon>save</mat-icon>
                            </button>
                        </smd-fab-trigger>

                        <smd-fab-actions>
                            <button mat-mini-fab color="accent" *ngIf="selected !== -1" (click)="onLoadCourse(selected)">
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" *ngIf="selectedFeature !== null" (click)="onDeleteElement()">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" (click)="fabAddPolygon('action1')">
                                <mat-icon>timeline</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" (click)="fabAddPoint('action2')">
                                <mat-icon>flag</mat-icon>
                            </button>
                        </smd-fab-actions>
                    </smd-fab-speed-dial>
                </div>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
