<!--
    Filename: home.component.html
    Author  : Christiaan H Nel, Stephan Roos, Duncan Tilley

        The template for the controls and map for mapping.
-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Mapper</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" 
                [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" 
                [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-list>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Course
                            </mat-panel-title>
                            <mat-panel-description>
                                Manage your courses
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <mat-form-field class="fill">
                                    <input matInput placeholder="Course Name">
                                </mat-form-field>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-form-field class="fill">
                                    <input matInput placeholder="Owner Name">
                                </mat-form-field>
                            </mat-list-item>

                            <mat-list-item role="listitem">
                                <button mat-raised-button class="fill" (click)="openDialog()">Create / Load</button>
                            </mat-list-item>

                            <mat-list-item role="listitem">
                                <button mat-raised-button class="fill" (click)="onSaveCourse()">Save</button>
                            </mat-list-item>

                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Elements / Polygons
                            </mat-panel-title>
                            <mat-panel-description>
                                Manage your courses
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <mat-form-field class="fill">
                                    <mat-select class="fill" placeholder="Current Polygon Type">
                                        <mat-option *ngFor="let t of terrainTypes; let i = index" [value]="t.ttype">
                                            {{t.typeName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <button class="fill" mat-raised-button (click)="onNewPolygon();">Save</button>
                            </mat-list-item>

                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Map options
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <button mat-raised-button 
                                        (click)="onToggleDraggable()">
                                    Map Draggable
                                </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <button mat-raised-button 
                                        (click)="onResetMap()">
                                    Reset Map
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-list>

        </mat-sidenav>

        <mat-sidenav-content class="map-container">
            <mat-card class="map-card">
                <agm-map class="mapper" #AgmMap [latitude]="lat" 
                        [longitude]="lng" 
                        (mapClick)="mapInteractionClick($event)">
                </agm-map>
                <button (click)="fabInteractionClick($event)" class="controls" 
                        mat-fab>
                    <mat-icon>
                        {{button_state}}
                    </mat-icon>
                </button>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>