div.outer {
    text-align: center;
    color: #000000;
    background-color: #F4EFC9;
    background-image: url(../../../assets/back-tile.png);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.content {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    max-width: 950px;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}
