mat-sidenav  {
    padding-left: 1%;
    padding-right: 1%;
}

mat-accordion mat-card{
    margin-bottom: 2%;
}
.selected{
    color: red;
}
.map-card {
    position: relative; 
    flex: 1;
    display: flex;
    height: 97%;
    padding: 0;
}
.controls{
    position: absolute;
    z-index: 2;
    right: 80px;
    bottom: 80px;
}
#course-selector{
    width: 200px;
    margin-left: 10px;
}

.mapper {
    height: 100%;
    width: 100%;
}
.map-container{
    position: relative;
    padding: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}


.fill {
    width:100%;
}

.hole-radio-group {
    display: block;
    flex-direction: column;
}

.hole-radio-button {
    display: block;
    margin: 5px;
}

.hole-selected-value {
    margin: 15px 0;
}

.addButton{
    user-select: none;
    cursor: pointer;
}