<!--
    Filename: mapper.component.html
    Author  : Duncan Tilley

        The template for the controls and map for mapping.
-->

<!-- Search bar -->
<div id="search-div">
    <mat-form-field class="fill">
        <input matInput type="text" placeholder="Search" id="search-input">
    </mat-form-field>
</div>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <!-- Tool bar -->
    <mat-toolbar color="primary" class="example-toolbar">

        <!-- Hole sidebar toggle button -->
        <button *ngIf="courseManager.activeCourse != null"
                mat-icon-button (click)="snav.toggle()">
            <mat-icon>golf_course</mat-icon>
        </button>

        <!-- Course selection dropdown -->
        <div>
            <mat-select [(value)]="courseIndex" #courseSelector id="course-selector">
                <mat-option [value]="-1" (click)="onSelectCourse(-1)">
                    Select a course
                </mat-option>
                <mat-option *ngFor="let c of courseManager.courses; let i = index" [value]="i" (click)="onSelectCourse(i)">
                    {{c.name}}
                </mat-option>
                <mat-option [value]="-2" (click)="onCreateCourse()">
                    <span style="color:#9c27b0">⊕ Create new course</span>
                </mat-option>
            </mat-select>
        </div>

        <!-- Course edit buttons -->
        <span class="small-spacer"></span>
        <button mat-mini-fab color="accent" *ngIf="courseIndex >= 0 && courseManager.courses.length > 0" (click)="onDeleteCourse(courseIndex)">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <span class="small-spacer"></span>
        <button mat-mini-fab color="accent" [disabled]="viewMode" *ngIf="courseIndex >= 0 && courseManager.courses.length > 0" (click)="onEditCourse(courseIndex)">
            <mat-icon>edit</mat-icon>
        </button>
        <span class="small-spacer"></span>
        <button mat-mini-fab color="accent" *ngIf="courseIndex >= 0 && courseManager.courses.length > 0" (click)="onSelectCourse(courseIndex)">
            <mat-icon>refresh</mat-icon>
        </button>

        <span style="flex: 1 1 auto"></span>

        <!-- View mode toggle -->
        <div *ngIf="courseManager.activeCourse != null">
            <span>Mapper Mode&nbsp;&nbsp;</span>
            <mat-icon>edit</mat-icon>
            <mat-slide-toggle style="margin:0.3em" [color]="primary" [(ngModel)]="viewMode"
                    (change)="onViewModeSwitch()">
            </mat-slide-toggle>
            <mat-icon>visibility</mat-icon>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <!-- Navigation bar -->
        <mat-sidenav #snav opened="false" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-list>
                <mat-accordion>

                    <!-- Hole selection -->
                    <mat-card *ngIf="courseManager.activeCourse !== null">
                        <mat-card-header>
                            <mat-card-title>
                                Course Holes
                            </mat-card-title>
                        </mat-card-header>

                        <!-- Hole list -->
                        <div>
                            <mat-radio-group [(ngModel)]="holeIndex" (change)="onSelectHole($event.value)" class="hole-radio-group">
                                <mat-radio-button [disabled]="viewMode" class="hole-radio-button" [value]="-1">
                                    Course
                                </mat-radio-button>
                                <ng-container *ngFor="let h of courseManager.activeCourse.holes; let i = index">
                                    <mat-radio-button [disabled]="viewMode" *ngIf="h.isVisible()" class="hole-radio-button" [value]="i">
                                        {{h.name}}
                                    </mat-radio-button>
                                </ng-container>
                            </mat-radio-group>
                        </div>

                        <!-- Hole management buttons -->
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <button mat-icon-button [disabled]="viewMode" (click)="onCreateHole()">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                                <button mat-icon-button [disabled]="holeIndex == -1 || viewMode" (click)="onEditHole()">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button [disabled]="holeIndex == -1 || viewMode" (click)="onDeleteHole()">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </mat-card>
                </mat-accordion>
            </mat-list>
        </mat-sidenav>

        <!-- Navigation bar content / map -->
        <mat-sidenav-content class="map-container">
            <mat-card class="map-card">
                <agm-map [mapDraggable]="mapDraggable" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapType" class="mapper"
                    #AgmMap [streetViewControl]="false">
                </agm-map>
                <!-- <demo-fab-speed-dial class="controls"></demo-fab-speed-dial> -->

                <!-- Floating controls -->
                <div class="controls" *ngIf="courseManager.activeCourse != null && !viewMode">
                    <smd-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="true">
                        <smd-fab-trigger [spin]="spin">
                            <button mat-fab (click)="onSaveCourse()">
                                <mat-icon>save</mat-icon>
                            </button>
                        </smd-fab-trigger>

                        <smd-fab-actions>
                            <button mat-mini-fab color="primary" (click)="onFabAdd(1)">
                                <mat-icon>timeline</mat-icon>
                            </button>
                            <button mat-mini-fab color="primary" (click)="onFabAdd(0)">
                                <mat-icon>flag</mat-icon>
                            </button>
                            <button mat-mini-fab *ngIf="selectedFeature != null" color="warn" (click)="onDeleteElement()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </smd-fab-actions>
                    </smd-fab-speed-dial>
                </div>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
