<div class="home">
    <div class='controls'>
        <div>
            <h4><b>Create Course:</b></h4>
            <input type="text" class="form-control" value="Course Name">
            <br>
            <button type="button" class="btn btn-success" id="createCourse">
                Submit
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-success" id="saveCourse">
                Save Course
            </button>
        </div>
        
        <br>
        
        <div>
            <h4><b>Load Course:</b></h4>
            <select id="courses" onchange="changeCourse();">
            </select>
            <br>
            <br>
            <button type="button" class="btn btn-success" id="changeCourse">
                Submit
            </button>
        </div>
        
        <br>
        
        <div>
            <h4><b>Elements/Polygons:</b></h4>
            <span style="font-size:small;font-color:grey">
                Select Current Polygon Type:
            </span>
            <br>
            <select id="courseType" onchange="changePolyType();">
                <option>Rough</option>
                <option>Fairway</option>
                <option>Green</option>
                <option>Bunker</option>
                <option>Water Hazard</option>
            </select>
            <br>
            <br>
            <button onclick="newPolygon()" type="button" class="btn btn-success">
                Save Polygon
            </button>
        </div>
        
        <br>
        
        <div>
            <h4><b>Map Options:</b></h4>
            <button (click)="toggleDraggable()" type="button"
                    class="btn btn-success">Map Draggable
            </button>
            <br>
            <br>
            <button onclick="resetMap()" type="button"
                    class="btn btn-success">Reset Map
            </button>
        </div>
    </div>
    <app-mapper style="width: 100%"></app-mapper>
</div>
