<div class="home">
    <div class='controls'>
        <div>
            <h4><b>Create Course:</b></h4>
            <input #courseName type="text" class="form-control" 
                    value="Course Name">
            <br>
            <button type="button" class="btn btn-success" 
                    (click)="createCourse(courseName.value);">
                Submit
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-success" 
                    (click)="saveCourse();">
                Save Course
            </button>
        </div>
        
        <br>
        
        <div>
            <h4><b>Load Course:</b></h4>
            <select #courses (change)="loadCourses();">
                <option
                        *ngFor="let c of courses; let i = index"
                        [value]="c.index">
                    {{c.courseName}}
                </option>
            </select>
            <br>
            <br>
            <button type="button" class="btn btn-success" id="changeCourse"
                    (click)="loadCourse(courses.target.value)">
                Submit
            </button>
        </div>
        
        <br>
        
        <div>
            <h4><b>Elements/Polygons:</b></h4>
            <span style="font-size:small;font-color:grey">
                Select Current Polygon Type:
            </span>
            <br>
            <select (change)="changePolyType(true, $event.target.value);">
                <option
                        *ngFor="let t of terrainTypes; let i = index"
                        [value]="t.ttype">
                {{t.typeName}}
                </option>
            </select>
            <br>
            <br>
            <button (click)="newPolygon();" type="button" 
                    class="btn btn-success">
                Save Polygon
            </button>
        </div>
        
        <br>
        
        <div>
            <h4><b>Map Options:</b></h4>
            <button (click)="toggleDraggable()" type="button"
                    class="btn btn-success">Map Draggable
            </button>
            <br>
            <br>
            <button (click)="resetMap()" type="button"
                    class="btn btn-success">Reset Map
            </button>
        </div>
    </div>
    <app-mapper style="width: 100%"></app-mapper>
</div>
