/***
 * Filename: register.component.css
 * Author  : Duncan Tilley
 ***/

 div.register-outer {
    color: #000000;
    background-color: #F4EFC9;
    background-image: url(../../assets/back-tile.png);

    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
}

div.register-inner {
    position: relative;
    top: -80px;
    display: table-cell;
    vertical-align: middle;
}

div#register-form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    width: 60%;
    max-width: 720px;
    padding: 5px 20px 20px 20px;

    box-shadow: 0px 0px 10px grey;
    background-color: #FFFFFF;
}
