<div class='controls'>
    <span style="font-size:small;font-color:grey">
        Controls are only for demo purposes
    </span>
    <br>
    <div style="text-align: left">
        <label>Course Name:</label>
        <input type="text" class="form-control" value="Default Course">
    </div>
    <br>
    <button type="button" class="btn btn-default">Save Course</button>
    <br>
    <button type="button" class="btn btn-default">Load Course</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label>Map Options</label>
    <br>
    <button onclick="newPolygon()" type="button" class="btn btn-default">New Polygon</button>
    <br>
    <select id="courseType" onchange="changePolyType();">
        <option value="#BADA55">Green</option>
        <option value="#73A15D">Fairway</option>
        <option value="#C2B280">Bunker</option>
        <option value="#336699">Water Hazard</option>
    </select>
    <button onclick="toggleDraggable()" type="button" class="btn btn-default">Map Draggable</button>
    <br>
    <button onclick="showAllCoordinates()" type="button" class="btn btn-default">Show All Coordinates</button>

    <br>
    <button onclick="showCurrentCoordinate()" type="button" class="btn btn-default">Show Current Coordinates</button>
</div>
