<!--
    Filename: course-dialog.component.html
    Author  : Duncan Tilley

        The template for the course dialog.
-->

<div role="dialog">
    <h2 mat-dialog-title>Course Properties</h2>
    <mat-dialog-content>
        <mat-list role="list">
            <mat-list-item>
                <input matInput placeholder="Course Name" [(ngModel)]="name">
            </mat-list-item>
            <mat-list-item>
                <textarea matInput matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=3 placeholder="Optional Info" [(ngModel)]="info"></textarea>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button (click)="onDoneClick()">Done</button>
    </mat-dialog-actions>
</div>
